<div class="main-container main">
  <div>
    {{
      getMin(limitPerPage * (currentPage - 1) + limitPerPage, total) -
        limitPerPage * (currentPage - 1)
    }}/ {{ total }}
  </div>
  <div class="paginator-container">
    <ul class="paginator-columns">
      <li class="list-items" (click)='getCurrentRow(currentPage-1)'><img src='../../assets/left-arrow.svg'  height="12" width="12" ></li>

      <li *ngFor="let item of visiblePagesArray" class="list-items" [ngClass]="{activated: currentPage === item}" (click)="getCurrentRow(item)">
        {{ item }}
      </li>
      
      <li class="list-items" (click)='getCurrentRow(currentPage+1)'><img src='../../assets/right-arrow.svg'  height="12" width="12" ></li>
    </ul>

  </div>
</div>
